ul {
  list-style: none;
  width: 80%;
}

ul li {
  display: inline-block;
  padding: 15px;
  width: 170px;
  background-color: orangered;
  margin: -5px;
  text-align: center;
}

ul li:hover {
  background-color: red;
  transition: 0.7s all;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.dropdown-web {
  position: absolute;
  z-index: 1;
  width: 130px;
  margin-top: 17px;
  margin-left: -55px;
  display: none;
}

.web_item:hover .dropdown-web {
  display: block;
}
.dropdown-web ul li {
  border: 1px solid rgb(192, 182, 182);
  text-align: left;
}
.dropdown-tutorials {
  position: absolute;
  z-index: 1;
  width: 130px;
  margin-top: -25px;
  margin-left: 150px;
  display: none;
}
.tutorials_item:hover .dropdown-tutorials {
  display: block;
}
.dropdown-other {
  position: absolute;
  z-index: 1;
  width: 130px;
  margin-top: -25px;
  margin-left: 150px;
  display: none;
}
.other_item:hover .dropdown-other {
  display: block;
}
