* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container_for_img {
  background-image: url(https://html.design/demo/cafeesa/images/slider-bg.jpg);
  /* no-repeat center center/cover; */
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  border-radius: 5px;
}
header {
  padding: 0 2rem;
}

.logo {
  float: left;
  text-decoration: none;
  display: block;
  font-family: "Playfair Display";
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}
.logo,
.show-menu-btn {
  line-height: 100px;
}
.logo,
.show-menu-btn,
.hide-menu-btn {
  cursor: pointer;
}

.show-menu-btn {
  float: right;
  display: flex;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 0.4rem;
  margin-top: 1.4rem;
  transition: 0.4s ease;
}

.show-menu-btn i {
  font-size: 2rem;
}
#checkbox {
  position: absolute;
  visibility: hidden;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 999;
  transition: 0.7s;
  background-color: #09503b;
  border-radius: 10px;
}
.navigation ul {
  transform: translateX(-100px);
  list-style: none;
  transition: 0.7s;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.navigation ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
.hide-menu-btn {
  display: block;
  color: #ffffff;
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: 2rem;
}
#checkbox:checked ~ .navigation {
  visibility: visible;
  opacity: 1;
}
#checkbox:checked ~ .show-menu-btn {
  transform: scale(5);
  opacity: 0;
}

#checkbox:checked ~ .navigation ul {
  opacity: 1;
  transform: translateX(0);
}
