* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f3f3f3;
}

.header {
  height: 100px;
  background-color: #1da1f2;
  padding: 0 20px;
  color: #fff;
}
.logo,
.menu {
  line-height: 100px;
}

.logo {
  float: left;
}
.menu {
  float: right;
  display: flex;
  gap: 2px;
  list-style: none;
  padding: 2rem 0;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  transition: 0.4s;
}
.menu li a:hover {
  color: yellow;
}
.show-menu-btn,
.hide-menu-btn {
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100%;
  padding: 33px 0;
}
#checkbox {
  position: absolute;
  visibility: hidden;
}
@media (max-width: 880px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    transition: 0.7s;
    background-color: black;
  }
  .logo,
  .menu {
    line-height: auto;
  }
  .hide-menu-btn {
    position: absolute;
    top: 10px;
    right: 40px;
  }
  #checkbox:checked ~ .menu {
    right: 0;
  }
}
