* {
  margin: 0;
  padding: 0;
}

.flex_container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.flex_item {
  text-align: center;

  border-radius: 10px;
  background-color: rgb(211, 180, 175);
  padding: 1rem;
}
body {
  /* background-image: url("../img/imgflower.jpg") no-repeat center center/cover; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
.flex_item ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.flex_item ul li a {
  color: #fff;
  font-size: 1.5rem;
  transition: 0.5s;
}
ul li a i {
  font-size: 50px;
}
.flex_item ul li a:hover {
  color: rgb(109, 105, 105);
}
.flex_item img {
  border-radius: 50%;
  width: 200px;
}

h1,
h2,
p {
  color: #fff;
  letter-spacing: 2px;
  font-family: sans-serif;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .flex_container {
    flex-wrap: wrap;
  }
}
