.flex_container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.flex_item {
  border: 1px solid none;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 10px rgb(212, 208, 208);
  padding-bottom: 1rem;
}
img {
  width: 100%;
  height: 300px;
}
p,
h1,
a {
  padding: 0 1rem;
}
hr {
  margin: 1rem 1rem;
  color: rgb(212, 208, 208);
}
a {
  text-decoration: none;
  color: rgb(109, 105, 105);
  font-weight: 500;
}
