.flex_container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.flex_item {
  border: 1px solid none;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 10px rgb(212, 208, 208);
  padding-bottom: 1rem;
}
img {
  width: 100%;
  height: 300px;
}
.paragraf1,
.text1,
.twitter {
  padding: 0 1rem;
}
hr {
  margin: 1rem 1rem;
  color: rgb(212, 208, 208);
}
.twitter {
  text-decoration: none;
  color: rgb(109, 105, 105);
  font-weight: 500;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
}
.grid_item {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  background-color: black;
}
.icon_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.body {
  background-color: rgb(14, 13, 13);
}
.text,
.paragraf {
  color: #fff;
}
.text {
  font-size: 1.5rem;
  font-weight: 500;
}
