* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.logo a {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
header nav ul li a {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}
header nav ul li a:hover {
  color: #0dc0c0;
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(https://cdn.prod.website-files.com/596d1737592fec0e946827d4/596d1737592fec0e9468283c_back2.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  gap: 2rem;
  padding: 0 4rem;
}
.text {
  width: 45%;

}
.text h1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
}
.text p {
  color: #ffffffad;
  margin-bottom: 20px;
}
.text button {
  color: #fff;
  text-align: center;
  background-color: #0dc0c0;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.text button:hover {
  background-color: #333;
}
.main_img {
width: 50%;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 4rem;
}
.container_item {
  display: flex;
  gap: 2rem;
}
.container_item h3, .about_item h3 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
}
.container_item p, .about_item p {
    color: #a6a6a6;
    margin: 7px 0;
  
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.container_item button {
  display: block;
  border: none;
  width: 150px;
height: 50px;
  border-radius: 50%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container_item button i {
color: #0dc0c0;
font-size: 1rem;


}
.container_item button:hover {
  background-color: #0dc0c0;
}
.container_item button:hover i{
  color: #f7f7f7;
}
.about {
  background-color: #f7f7f7;
  padding: 4rem;
  display: flex;
flex-direction: column;
  align-items: center;
}
.text_container {
display: grid;
grid-template-columns: 1fr 1fr;


}
.text_container img {
  width: 100%;
}
.about_items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.2rem;
}
.about_item {
  display: flex;
  gap: 1rem;
}
.about_item i {
color: #333;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
    text-align: center;
   
  }
  .main_img {
display: none;
  }
  .text {
    width: 100%;
     padding: 2rem 0;

  }
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}