* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  background: url("https://html.design/demo/mical/images/banner-bg.png")
    no-repeat center center/cover;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header_sec {
  padding: 40px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
  margin: 0 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.4s all;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #252525;
}

/* Header End */

.banner {
  display: flex;
  justify-content: space-between;
}

.banner_section {
  color: #fff;
  margin-top: 80px;
}

.banner_section h1 {
  font-size: 80px;
  margin-bottom: 30px;
}

.banner_section p {
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 55px;
}

.banner_section a {
  background-color: #fff;
  color: #252525;
  text-decoration: none;
  padding: 20px 60px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.4s all;
}

.banner_section a:hover {
  background-color: #252525;
  color: #fff;
}

.banner_img img {
  padding: 30px 0;
}

@media (max-width: 900px) {
  .navbar ul li a {
    font-size: 15px;
  }

  .banner {
    flex-direction: column;
    gap: 5rem;
    padding: 0px 25px;
  }

  .banner_section {
    margin-top: 20px;
  }

  .banner_section h1 {
    font-size: 40px;
    width: 100%;
    margin-bottom: 15px;
  }

  .banner_section p {
    font-size: 17px;
    line-height: 30px;
  }

  .banner_img img {
    width: 400px;
  }
}

/* Banner ENd */

/* About Start */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 100px;
}

.about_sec h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.about_sec p {
  line-height: 25px;
  margin-bottom: 46px;
  font-size: 14px;
}

.about_sec a {
  background-color: #1f476d;
  color: #fff;
  text-decoration: none;
  padding: 20px 43px;
  font-size: 16px;
}

.about_sec a:hover {
  background-color: #252525;
}

.about_img img {
  max-width: 500px;
}

@media (max-width: 990px) {
  .about {
    flex-direction: column;
    margin-top: 50px;
    padding: 0px 20px;
  }

  .about_img img {
    width: 100%;
  }
}

/* About End */

/* Services Start */

.services {
  background-color: #d31524;
  width: 100%;
  min-height: 100vh;
  margin-top: 70px;
  margin-bottom: 50px;
}

.services_title {
  text-align: center;
  color: #fff;
  padding: 60px 20px;
}

.services_title h3 {
  font-size: 40px;
  margin-bottom: 25px;
}

.services_title p {
  font-size: 18px;
  line-height: 29px;
}

.services_sec {
  padding: 0 40px;
}

.services_box {
  background-color: #fff;
  border-radius: 15px;
  padding: 0px 15px;
  text-align: center;
}

.services_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.services_card_desc {
  padding: 25px;
}

.services_card_desc img {
  margin-bottom: 30px;
}

.services_card_desc h4 {
  font-size: 23px;
}

.services_card_desc p {
  font-size: 15px;
  line-height: 25px;
  padding: 30px 0;
}

@media (max-width: 990px) {
  .services_title p {
    font-size: 14px;
    line-height: 23px;
  }

  .services_sec {
    padding: 0 20px;
  }

  .services_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.form_section {
  background: url("	https://html.design/demo/mical/images/contact-bg.png");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.form_section h2 {
  padding-bottom: 2rem;
  font-size: 1.8rem;
  color: #1f476d;
}
.form_section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #214c74;
  border-radius: 30px;
  gap: 1rem;
  padding: 40px 40px 85px 40px;
  width: 50%;
  height: auto;
}
.form_section form input,
.form_section form textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
  padding-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  width: 100%;
}
.form_section form input::placeholder {
  color: #fff;
}
.form_section form input[type="submit"] {
  background-color: orange;
  cursor: pointer;
  width: 30%;
  padding: 20px 30px;
  outline: none;
  border: none;
  font-size: 1.3rem;
}
.section_for_subscription {
  background-color: red;
  text-align: center;
  padding-top: 2rem;
}
.section_for_subscription h2,
h3 {
  color: #fff;
  font-size: 2.4rem;
}
.section_for_subscription p {
  color: #fff;
  font-size: 1rem;
}
.email_sumbit {
  display: flex;
  align-items: center;
  justify-content: center;
}
