* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 4rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 3rem;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navigation ul li a {
  display: block;
  color: #585978;
  font-size: 1rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
  padding: 10px 0;
}
.navigation ul li a:hover {
  text-decoration: overline;
  text-decoration-color: #2f80ed;

  color: #2f80ed;
}

.start {
  border: none;
  background-color: #2f80ed;
  align-items: center;
  background: #2f80ed;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 25px;
  border-radius: 10px;
  cursor: pointer;
}
.burger {
  display: none;
}

.burger_checkbox {
  display: none;
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 4rem;
}
.text_for_home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding-top: 5rem;
  padding-left: 4rem;
}
.text_for_home h3 {
  font-weight: 600;
  color: #2f80ed;
  font-size: 1.7rem;
}
.text_for_home p,
.text_for_about p {
  font-size: 1.2rem;
  color: #585978;
}
.text_for_home h1,
.text_for_about h1 {
  font-weight: 700;
  color: #323450;
  font-size: 3rem;
}
.text_for_home button {
  border-radius: 10px;
  height: 54px;
  max-width: 200px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  background: #2f80ed;
  color: #ffffff;
  padding: 0 25px;
  border: none;
  cursor: pointer;
}
.img_for_home {
  position: relative;
  display: inline-block;
  background-color: rgba(47, 128, 237, 0.2);
}
.img_for_home .base_img {
  padding: 4rem 1rem;
}
.base_img img {
  width: 100%;
}
.second_img {
  position: absolute;
  left: -70px;
  top: 70%;
}
.services {
  padding-left: 4rem;
}
.services h1 {
  font-weight: 700;
  color: #323450;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.services p,
.services_items div p {
  font-size: 1rem;
  color: #323450;
  line-height: 24px;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 4rem;
  margin-top: 4rem;
}
.services_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70%;
  gap: 0;
}

.services_items div h3 {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #323450;
  white-space: nowrap;
}
.services_items div a {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: #2f80ed;
  color: #ffffff;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_img {
  width: 100%;
}
.services_img img {
  width: 100%;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7rem 0;
  background-color: #f3f3f3;
}
.text_for_about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.img_for_about {
  padding-left: 4rem;
}
.img_for_about img {
  width: 80%;
}
.info_about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px 0;
  max-width: 450px;
  width: 100%;
  background-color: #eaeaea;
  border-radius: 5px;
}
.info_about div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.info_about div:not(:last-child) {
  border-right: 2px solid #585978;
  padding: 10px;
}
.info_about div p {
  color: #585978;
}
.text_for_about button {
  width: 20%;
  height: 54px;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  background: #2f80ed;
  color: #ffffff;
  padding: 0 25px;
  border: none;
  border-radius: 3px;
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.pricing_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 4rem;
  width: 100%;
}
.pricing_item {
}
@media (max-width: 900px) {
  .burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    width: 30px;
    height: 17px;
  }
  .burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #000;
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
  .burger::after {
    bottom: 0;
  }
  .burger::before {
    top: 0;
  }

  .burger_checkbox:checked ~ .burger span {
    transform: scale(0);
  }

  .burger_checkbox:checked ~ .burger::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .burger_checkbox:checked ~ .burger::after {
    bottom: 50%;
    transform: rotate(-45deg);
  }
  .menu {
    position: absolute;
    top: 0;
    top: 0;
    right: 5%;
    width: 90%;
    flex-direction: column;
    display: none;

    justify-content: center;
    gap: 1rem;
    background-color: #ffffff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(50, 52, 80, 0.1);
    padding: 5px 12px;
  }
  .navigation ul li a:hover {
    text-decoration: underline;
  }
  .burger_checkbox:checked ~ .menu {
    display: flex;
    top: 95%;
  }

  .start {
    display: none;
  }
  .home,
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .services_img img {
    width: 80%;
  }
}
