* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;

  background: url(./img/akirevarga-surface-4373559_1920.jpg) no-repeat center
    center/cover;
}
.sign_up {
  width: 450px;
  background-color: rgb(56, 51, 51);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
h1 {
  color: white;
  text-align: center;
  padding: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.txt {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.submit {
  background-color: royalblue;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 50px;
  padding: 1rem;
  border: none;
}
.submit:hover {
  background-color: rgb(15, 15, 243);
  transition: 0.5s;
  cursor: pointer;
}
a {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: yellow;
  transition: 0.5s;
}
