* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #dfabc5 0%, #1da1f2 100%);
}
form {
  background-color: #fff;
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
}

.form h1 {
  position: relative;
  margin-bottom: 1rem;
}
.form h1::after {
  position: absolute;
  content: "";
  background-color: #1da1f2;
  top: 30px;
  left: 0;
  bottom: 2px;
  width: 33px;
  height: 2.5px;
}

.input_box {
  height: 45px;
  margin-bottom: 1rem;
}
.input_box input {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}
.input_box .underline {
}
.input_box .underline::before {
  content: "";
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 2px;
}
