* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}
header .contact_button {
  display: block;
  text-decoration: none;
  color: #252525;
  border: 1px solid #1b80df;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;

  font-weight: 600;
  width: 160px;
}
.contact_button:hover,
.main_container button:hover {
  background-color: #0056b3;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.header_with_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 0 1rem 5rem;
  background-color: rebeccapurple;
  height: 520px;
  overflow: hidden;
}
.header_with_img img {
  width: 100%;
  height: 100%;
}
.main_container h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
}
.main_container p {
  padding: 20px 0 10px 0;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 1.8;
}
.main_container button {
  border: 1px solid #1b80df;
  background-color: #fff;
  width: 180px;
  height: 50px;
  color: #252525;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 4rem 5rem;
}
.grid_item {
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 2px;
}
.grid_container div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_container .button_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  backdrop-filter: blur(4px);
  opacity: 0;
}
.button_container button {
  background-color: #0056b3;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  transition: ease all 0.5s;
  transform: scale(4);
  cursor: pointer;
}
.button_container i {
  padding-right: 5px;
}
.grid_item:hover .button_container {
  opacity: 1;
}
.grid_item:hover .button_container button {
  transform: scale(1);
}

footer {
  background-color: #252525;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 1rem;
}
footer p,
a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #0056b3;
  transition: all 0.3s;
}
@media (max-width: 800px) {
  .header_with_img {
    flex-direction: column;
  }
}
