* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav_container ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav_container ul li a {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-family: sans-serif;
  font-weight: 500;
}
.nav_container ul li a:hover {
  color: rgb(15, 15, 243);
}
.dropdown_container {
  display: none;
  z-index: 1;
  margin-top: 5px;
  margin-left: -20px;
  position: absolute;
}
.dropdown_container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(192, 182, 182);
  padding: 0.5rem;
}
button:hover + .dropdown_container {
  display: block;
}
.page {
  display: flex;
  gap: 2px;
}
button {
  border: none;
  background-color: transparent;
}
.main_img_container {
  position: relative;
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}
.main_img_container img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.main_img_container h2 {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
}
.text_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}
.grid_item img {
  width: 100%;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  background-color: royalblue;
}
.info_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;
  padding: 2rem;
}
.footer_list ul li {
  list-style: none;
  padding-top: 10px;
}
