* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.img_container {
  width: 120px;
  height: 70px;
}
.img_container img {
  width: 100%;
  height: 100%;
}
.nav_container ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav_container ul li a {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-family: inherit;
}
.nav_container ul li a:hover {
  color: rgb(15, 15, 243);
}
.dropdown_container {
  display: none;
  z-index: 1;
  margin-top: 20px;
  margin-left: -20px;
  position: absolute;
}
.dropdown_container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
}
.page:hover .dropdown_container {
  display: block;
}
.page {
  display: flex;
  gap: 2px;
}
button {
  border: none;
  background-color: transparent;
}
.main_img_container {
  position: relative;
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}
.main_img_container img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.main_img_container h2 {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.75rem;
  font-weight: 700;
  color: #fff;
}
.text_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.text_container h2 {
  font-size: 2rem;
  font-weight: 700;
}
.text_container p {
  font-size: 1rem;
  line-height: 1.8;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}
.grid_item img {
  width: 100%;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  background-color: royalblue;
}
.info_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;
  padding: 2rem;
}
.footer_list ul li {
  list-style: none;
  padding-top: 20px;
}
.footer_list h4,
.left_logo_container h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.footer_list ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.left_logo_container img {
  width: 125px;
  height: 80px;
  margin-bottom: 1.5rem;
}
.left_logo_container p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.5rem;
}
footer hr {
  margin: 0 2rem;
}
.footer_text {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: 50px;
}
.social_media {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
}
.social_media a {
  color: #fff;
  font-family: inherit;
  font-size: inherit;
}
